<section>
  <div style="position: absolute; margin: 50px;">
    <a [routerLink]="['']"><i class="fa fa-arrow-left icon"></i></a>
  </div>
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm.value)">
          <div class="modal-header">
            <h5 class="modal-title">Add List Item</h5>
            <button type="button" class="close" id="exit" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">List name</label>
              <input type="text" class="form-control" id="list-name" formControlName="listName" name="list">
              <!-- <div>{{modelForm}}</div> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit"  class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" id="exit"
              data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="modal" id="taskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
          <div class="modal-header">
            <h5 class="modal-title">Add Task</h5>
            <button type="button" class="close" id="exitList" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Task</label>
              <input type="text" class="form-control" id="list-name" formControlName="taskName" name="list">
              <!-- <div>{{modelForm}}</div> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit"  class="btn btn-primary">Save</button>
            <button type="button"  class="btn btn-secondary" data-dismiss="modal"
              id="exitList">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="container centered">
    <div class="row"></div>
    <div class="row" style=" height: 100px;">
      <div class="col-4 padded col">
        <h2 style="color: #D1D7E0;">LISTS</h2>

      </div>
      <div class="col-8 padded">
        <h2 style="color: #D1D7E0;">TASKS</h2>

      </div>
    </div>
    <div class="row" style=" min-height: 300px;">
      <div class="col-4 padded col">
        <ul id="list" class="list-group">
          <li class="list-group-item list d-flex justify-content-between align-items-center" *ngFor="let i of list"
            (click)="chosenList(i.name)"><span>{{i.name}}</span>
            <span class="badge badge-primary badge-pill" style="color: #da2a6e;">{{i.task.length}}</span>
          </li>
        </ul>
      </div>
      <div class="col-8 padded">
        <p  class="list-group-item list d-flex justify-content-between align-items-center"
          *ngFor="let item of task;">{{item}}</p>

      </div>
    </div>
    <div class="row" style=" height: 100px;">
      <div class="col-4 padded col text-center" >
        <button type="button" style=" width: 200px;" class="btn btn-info button" id="addList"
          (click)="displayAddList()"><i
            class="fa fa-plus"></i>
          Create
          List</button>

      </div>
      <div class="col-8 padded">
        <div class="example-button-container" style="margin-left: auto">
          <button id="addTask" style="display: none;" class="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


</section>
