.centered {
  /* justify-content: center;
    text-align: center; */
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 130px;
}

.col {
  background-color: #191919;
}

.row {
  background-color: rgb(34, 33, 33);
}

section {
  background-color: #0B0C10;
  height: 100%;
  width: 100%;
}

.centered h2 {
  font-weight: 600;

}

.padded {
  padding: 30px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.list {
  margin-bottom: 5px;
}

li {
  cursor: pointer;
}

.icon {
  width: auto;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 44px;
  margin: 20px;
  color: white;
  /* text-decoration: none; */
}

.icon:hover {
  color: #da2a6e;
}

.active {
  background-color: #da2a6e !important;
  border-color: #da2a6e;
}

.button {
  color: black;
  background-color: white !important;
  border-color: #191919;
  border-radius: 20px;
}

.button:hover {
  background-color: #da2a6e !important
}
