<div>
    <app-nav></app-nav>
    <section id="imageSection" class="imageSection">
        <div class="slider">
            <div class="swiperWrap" style="justify-content: center;">
                <div class="swiper-slide" style="width: 1334px;">
                    <img class="img" src="../../assets/shoes.jpg">
                    <div class="card-img-overlay container fadeInDown" id="imageHeader" style="top: 30%;">
                        <div class="col-12" id="test" style="color: #da2a6e; display: none">
                            <h1 class="header fadeIn first">BLUH BLUH</h1>
                            <h1 class="header fadeIn second">BLEH BLEH</h1>
                            <p style="color:  #D1D7E0;" class="fadeIn third">Kawaii</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolioSection" class="portfolioSection">
        <div class="container" style="max-width: 1170px;padding: 0;">
            <div class="row text-center portfolioHeader">
                <div class="col-12">
                    <h2>My Portfolio</h2>
                    <p>Lame Lame ass work needs improvements</p>
                </div>
            </div>
            <div class="row row justify-content-center text-center items">

                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-clipboard icon"></i>
                        <h4 class="h4">Todo list</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-times icon"></i>
                        <h4 class="h4">Dark card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-clipboard icon"></i>
                        <h4 class="h4">Dark card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-clipboard icon"></i>
                        <h4 class="h4">Todo list</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-times icon"></i>
                        <h4 class="h4">Dark card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card">
                        <i class="fa fa-clipboard icon"></i>
                        <h4 class="h4">Dark card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionAbout">
        <div class="container" style="max-width: 1170px;padding: 0;">
            <div class="row portfolioHeader text-center">
                <div class="col-12">
                    <h2 class="titleAbout">About me</h2>
                    <p style="color:white">For over 8 years we have been developing digital solutions for companies
                        looking to gain better visibility on the internet.</p>
                </div>
            </div>
            <div class="row portfolioHeader text-center">
              <div class="col-12">
                
                <p style="color:white">For over 8 years we have been developing digital solutions for companies
                  looking to gain better visibility on the internet.</p>
              </div>
            </div>
        </div>
    </section>
    <section id="contactSection">

    </section>
</div>