.header {
  font-size: 6rem;
  opacity: 1;
  font-weight: 900;
  line-height: 1.2;
}

#sectionAbout {
  background-color: rgb(34, 33, 33);
  
    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
}

.titleAbout{
   font-size: 50px;
   font-weight: 600;
   font-family: 'Poppins',
   sans-serif;
   color: #D1D7E0 !important;
   margin: 13px;
}

.card{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 35px;
    border: none;
    border-radius: 2px;
    background-color: #191919 !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.card.no-hover {
    background-color: transparent;
    box-shadow: none;
}

.imageSection{
    background-color: black;
    /* background: radial-gradient(#00829e, #34283c); */

    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
}
.slider{
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.img{
    position: absolute;
    right: 0;
    bottom:100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiperWrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.portfolioSection{
    background-color: #0B0C10 ;
    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
}

.portfolioHeader h1:first-child, .portfolioHeader h2:first-child, .portfolioHeader h3:first-child {
    margin-top: 0;
    font-size: 3.5rem;
    font-weight: 900;
}

.portfolioHeader{
 margin-bottom: 50px;
 font-weight: 200;
 font-size: 1.5rem;
 color : #D1D7E0;
}

.h4{
    color: #da2a6e;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-weight: 500;
}

.card p {
    margin-top: 0;
    white-space: pre-wrap;
    color: #D1D7E0 ;
}
.card i {
    color: #D1D7E0 ;
}

.item {
    margin-bottom: 30px;
}

.icon {
    width: auto; 
    height: 44px; 
    line-height: 44px;
    text-align: center;
    font-size: 44px;
    display: block;
    margin: auto;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.item:hover{
    background-color: #da2a6e;
    top: 0px;
    left: 0px;
    visibility: visible;
    will-change: transform;
    opacity: 1;
    transform: translate(0, -20px) scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}


.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
