<div>
    <app-nav></app-nav>
    <section>
        <div class="card bg-dark text-white">
            <img class="card-img" src="../../assets/2.jpg" style="height: 935px" alt="Card image">
            <div class="card-img-overlay align-center container fadeInDown" style="top: 30%;">
                <div class="row justify-content-center ">
                    <h1 class="header">BLUH BLUH</h1>
                    <p style="color: #66FCF1;" class="card-text">Kawaii</p>
                </div>

            </div>
        </div>

    </section>
    <section>

    </section>
    <section>

    </section>
</div>