

a {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #D1D7E0 !important;
  margin: 13px;
}

a:hover {
  color: #66FCF1 !important;
  text-shadow: 1px 1px 2px #66FCF1;
  ;
}

.bg-light {
  background-color: #0B0C10 !important;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
